* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* Edge antigo */
}

body {
    background-image: url('../images/background.png');
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;    
    background-attachment: fixed;    
    
    color: #fff;
    font-family: Arial, sans-serif;
    overflow: hidden;
    touch-action: manipulation;
}

header {
    box-shadow: 0 20px 60px rgba(0,0,0,0.6);
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    color: #ffaa00;
}

#game {
    position: relative;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

img {
    pointer-events: auto;
    user-drag: none;
    -webkit-user-drag: none;
}

.bird {
    position: absolute;
    right: -120px; 
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.bird-large {
    width: 250px;
    height: 200px;
}

.bird-medium {
    width: 200px;
    height: 150px;
}

.bird-small {
    width: 100px;
    height: 50px;
}

.explosion {
    position: absolute;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.explosion span {
    position: absolute;
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 50%;
    animation: explode 0.5s ease-out forwards;
}

#menu {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.menu-card {
    padding: 40px 60px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 60px rgba(0,0,0,0.6);
    width: 350px;
}

.title {
    font-size: 42px;
    margin-bottom: 10px;
    color: #ffaa00;
    letter-spacing: 3px;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 30px;
    color: black;
}

.score-box {
    background: #1f2937;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 25px;
}

.score-box span {
    display: block;
    font-size: 12px;
    color: #94a3b8;
}

.score-box strong {
    font-size: 28px;
    color: #ffaa00;
}

#start-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #ffaa00;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease;
}

#start-btn:hover {
    background: #ffaa00;
    transform: scale(1.05);
}

#start-btn:active {
    transform: scale(0.97);
}

#countdown {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    font-weight: bold;
    color: white;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
}

#countdown {
    text-shadow: 0 0 40px #facc15;
}

@keyframes explode {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(var(--x), var(--y));
        opacity: 0;
    }
}